{
  "openapi": "3.0.0",
  "info": {
    "title": "BestExits API",
    "version": "1.0",
    "contact": {
      "name": "Arturs Dobrecovs",
      "email": "mail@arturs.site",
      "url": "https://arturs.site"
    },
    "description": "Predict the platform that a train will arrive at and the best part of the train to be on for a quicker exit or interchange."
  },
  "servers": [
    {
      "url": "https://arturs.site/apis/bestexits"
    }
  ],
  "paths": {
    "/platform/interchanges": {
      "get": {
        "summary": "Predict best interchanges",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True if operation was successful, false if an error occured."
                    },
                    "platform": {
                      "type": [
                        "array",
                        "string"
                      ],
                      "example": "1",
                      "description": "The platform that the train is predicted to arrive at. If it may stop at more than one platform, this value will be an array containing all of them.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "direction": {
                      "type": "string",
                      "description": "The direction of the platform that the train will arrive at.",
                      "enum": [
                        "northbound",
                        "eastbound",
                        "southbound",
                        "westbound"
                      ],
                      "example": "eastbound"
                    },
                    "side": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Side of the train that the doors will open on. This may be null if the platform could not be accurately predicted.",
                      "enum": [
                        "left",
                        "right",
                        "both"
                      ],
                      "example": "right"
                    },
                    "interchanges": {
                      "description": "Array of interchanges off the platform.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Interchange"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": true,
                      "platform": "1",
                      "direction": "westbound",
                      "side": "right",
                      "interchanges": [
                        {
                          "interchange": {
                            "lines": [
                              "great-western-railway"
                            ],
                            "direction": "southbound"
                          },
                          "sections": [
                            "middle",
                            "back"
                          ],
                          "carriage": null,
                          "door": null,
                          "notices": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True if operation was successful, false if an error occured."
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid station_id",
                      "description": "Error message that briefly describes the issue with your request."
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "error": "Invalid previous_id"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-platform-interchanges",
        "description": "Predict the best section of the train to be on for a faster interchange.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUGFD"
            },
            "in": "query",
            "description": "The unique NAPTAN identifier of the destination station.",
            "name": "station_id",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "example": "1"
            },
            "in": "query",
            "name": "platform_no",
            "description": "The number of the platform that the train will arrive at when it reaches the destination. Mutually exclusive with `previous_id`."
          },
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUPVL"
            },
            "in": "query",
            "name": "previous_id",
            "description": "The unique NAPTAN identifier of the station just before the destination along the train's route. Mutually exclusive with `platform_no`."
          },
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUWRP"
            },
            "in": "query",
            "name": "terminal_id",
            "description": "The unique NAPTAN identifier of the station where the train terminates."
          },
          {
            "schema": {
              "type": "string",
              "example": "central"
            },
            "in": "query",
            "name": "line",
            "description": "The tube/rail line that the journey is being made on. See the \"Possible line IDs\" document for examples of these."
          }
        ]
      }
    },
    "/platform/exits": {
      "get": {
        "summary": "Predict best exits",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True if operation was successful, false if an error occured."
                    },
                    "platform": {
                      "type": [
                        "array",
                        "string"
                      ],
                      "example": "1",
                      "description": "The platform that the train is predicted to arrive at. If it may stop at more than one platform, this value will be an array containing all of them.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "northbound",
                        "eastbound",
                        "southbound",
                        "westbound"
                      ],
                      "example": "eastbound",
                      "description": "The direction of the platform that the train will arrive at."
                    },
                    "side": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "left",
                        "right",
                        "both"
                      ],
                      "example": "right",
                      "description": "Side of the train that the doors will open on. This may be null if the platform could not be accurately predicted."
                    },
                    "exits": {
                      "type": "array",
                      "description": "Array of exits off the platform.",
                      "items": {
                        "$ref": "#/components/schemas/Exit"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": true,
                      "platform": "1",
                      "direction": "westbound",
                      "side": "right",
                      "exits": [
                        {
                          "name": "Oldfield Lane South",
                          "sections": [
                            "front"
                          ],
                          "carriage": 1,
                          "door": 1,
                          "notices": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True if operation was successful, false if an error occured."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message that briefly describes the issue with your request.",
                      "example": "Invalid station_id"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "error": "Invalid previous_id"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-platform-exits",
        "description": "Predict the best section of the train to be on for a faster exit.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUGFD"
            },
            "in": "query",
            "name": "station_id",
            "required": true,
            "description": "The unique NAPTAN identifier of the destination station."
          },
          {
            "schema": {
              "type": "string",
              "example": "1"
            },
            "in": "query",
            "name": "platform_no",
            "description": "The number of the platform that the train will arrive at when it reaches the destination. Mutually exclusive with `previous_id`."
          },
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUPVL"
            },
            "in": "query",
            "name": "previous_id",
            "description": "The unique NAPTAN identifier of the station just before the destination along the train's route. Mutually exclusive with `platform_no`."
          },
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUWRP"
            },
            "in": "query",
            "name": "terminal_id",
            "description": "The unique NAPTAN identifier of the station where the train terminates."
          },
          {
            "schema": {
              "type": "string",
              "example": "central"
            },
            "in": "query",
            "name": "line",
            "description": "The tube/rail line that the journey is being made on. See the \"Possible line IDs\" document for examples of these."
          }
        ]
      }
    },
    "/platform/predict": {
      "get": {
        "summary": "Predict platform",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True if operation was successful, false if an error occured."
                    },
                    "platforms": {
                      "type": "array",
                      "description": "Array of the platforms that the train may arrive at",
                      "uniqueItems": true,
                      "items": {
                        "type": "string",
                        "example": "2",
                        "pattern": "^(\\d+)([a-z]?)$"
                      }
                    },
                    "direction": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Direction that the platform is facing. May be null if trains travel in both directions from this platform.",
                      "example": "eastbound",
                      "enum": [
                        "northbound",
                        "eastbound",
                        "southbound",
                        "westbound"
                      ]
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": true,
                      "platforms": [
                        "1"
                      ],
                      "direction": "westbound"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "True if operation was successful, false if an error occured."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message that briefly describes the issue with your request.",
                      "example": "Invalid station_id"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "error": "Invalid previous_id"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-platform-predict",
        "description": "Predict the platform number and direction of the platform that a train may arrive at",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUGFD"
            },
            "in": "query",
            "name": "station_id",
            "description": "The unique NAPTAN identifier of the destination station.",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUPVL"
            },
            "in": "query",
            "name": "previous_id",
            "description": "The unique NAPTAN identifier of the station just before the destination along the train's route.",
            "required": true
          },
          {
            "in": "unknown"
          },
          {
            "schema": {
              "type": "string",
              "example": "940GZZLUWRP"
            },
            "in": "query",
            "name": "terminal_id",
            "description": "The unique NAPTAN identifier of the station where the train terminates."
          },
          {
            "schema": {
              "type": "string",
              "example": "central"
            },
            "in": "query",
            "name": "line",
            "description": "The tube/rail line that the journey between these 2 stations is being made on. See the \"Possible line IDs\" document for examples of these."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Exit": {
        "title": "Exit",
        "type": "object",
        "description": "Objects returned by the /platform/exits endpoint",
        "x-examples": {
          "Example": {
            "name": "Oldfield Lane South",
            "sections": [
              "front"
            ],
            "carriage": 1,
            "door": 1,
            "notices": []
          }
        },
        "properties": {
          "name": {
            "type": "string",
            "example": "Oxford Street / Regent Street",
            "description": "The name of the exit. Usually based on street names but may include landmarks. If there are multiple names, they will be separated by forward slashes."
          },
          "sections": {
            "type": "array",
            "description": "Best part of the train to be on for this exit. Array may be empty if the platform could not be correctly predicted.",
            "items": {
              "type": "string",
              "enum": [
                "front",
                "middle",
                "back"
              ],
              "example": "middle"
            }
          },
          "carriage": {
            "type": [
              "integer",
              "null"
            ],
            "example": 2,
            "description": "Best carriage of the train to be on for this exit. May be null if the platform could not be correctly predicted or if the exit is very wide."
          },
          "door": {
            "type": [
              "integer",
              "null"
            ],
            "example": 3,
            "description": "Best door of this carriage to be standing at for this exit. May be null if the platform could not be correctly predicted or if the exit is very wide."
          },
          "notices": {
            "type": "array",
            "description": "List of notices/warnings that should be displayed to the user with the rest of the information.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Interchange": {
        "title": "Interchange",
        "type": "object",
        "description": "Objects returned by the /platform/interchanges endpoint",
        "x-examples": {
          "Example": {
            "interchange": {
              "lines": [
                "great-western-railway"
              ],
              "direction": "southbound"
            },
            "sections": [
              "middle",
              "back"
            ],
            "carriage": null,
            "door": null,
            "notices": []
          }
        },
        "properties": {
          "interchange": {
            "type": "object",
            "description": "Information about what platforms this interchange leads to",
            "properties": {
              "lines": {
                "type": "array",
                "description": "The tube/rail lines that this interchange leads to. See the \"Possible line IDs\" document for examples of these.",
                "items": {
                  "type": "string",
                  "example": "central"
                }
              },
              "direction": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "eastbound",
                "description": "Directions of the platform(s) that this train leads to. If there are multiple platforms with different directions, this value will be null.",
                "enum": [
                  "northbound",
                  "eastbound",
                  "southbound",
                  "westbound"
                ]
              }
            }
          },
          "sections": {
            "type": "array",
            "description": "Best part of the train to be on for this exit. Array may be empty if the platform could not be correctly predicted.",
            "items": {
              "type": "string",
              "enum": [
                "front",
                "middle",
                "back"
              ],
              "example": "middle"
            }
          },
          "carriage": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Best carriage of the train to be on for this exit. May be null if the platform could not be correctly predicted or if the exit is very wide.",
            "example": 2
          },
          "door": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Best door of this carriage to be standing at for this exit. May be null if the platform could not be correctly predicted or if the exit is very wide.",
            "example": 3
          },
          "notices": {
            "type": "array",
            "description": "List of notices/warnings that should be displayed to the user with the rest of the information.",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "query",
        "name": "API key",
        "description": "Requests without a valid API key are restricted to 20 requests per rolling hour period."
      }
    }
  }
}